@font-face {
    font-family:'GraphikLCG';
    font-weight: 400;
    src: url('../fonts/GraphikLCG-Regular.woff2');
}

@font-face {
    font-family:'GraphikLCG' ;
    font-weight: 600;
    src: url('../fonts/GraphikLCG-Semibold.woff2');
}

body {
    font-family:'GraphikLCG';
}

.container {
    max-width: 1440px;
    padding: 0px 65px;
}

/* HEADER */

.header {
    border-bottom: 1px solid #CCCCCC;
    padding: 17px 41px 16px 45px;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 116px;
    height: 50px;
    background: center center / 100% no-repeat url('../img/header-logo.svg');
    margin-right: 42px;
}

.header__list {
    display: flex;
    font-size: 13.5px;
}

.header__item{
    margin-right: 47px;
}

.header__links {
    margin-left: auto;
}

.header__link {
    font-weight: 600;
    font-size: 15px;

}

.header__link1 {
    border: solid 1px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
    padding: 12px 29px;
}

.header__link2 {
    border: solid 1px #FF6336;
    background-color: #FF6336;
    color: white;
    padding: 12px 17px;
}

/* ACCEL */

.section__accel {
    background: 91% 7% / 53%  no-repeat url('../img/Back1.png');
    min-height: 645px;
}

.section__accel-block {
    margin-top: 113px;
    max-width: 625px;
}

.heading {
    font-weight: 600;
    font-size: 57px;
    line-height: 61px;
}

.section__accel-p {
    font-size: 22px;
    line-height: 31px;
    margin-top: 46px;
    margin-bottom: 64px;
    max-width: 409px;
}

.section__accel-link1 {
    border: solid 1px #FF6336;
    background-color: #FF6336;
    color: white;
    margin-right: 5px;
    padding: 18px 34px;
    font-weight: 400;
}

.section__accel-link2 {
    border: solid 1px rgba(0, 0, 0, 0.5);
    padding: 17px 19px;
    font-weight: 400;
}

.section__accel-p2 {
    margin-top: 45px;
    font-size: 13.3px;
}

/* TOOL */

.section__tool {
    background-color: #FF9C7D;
    min-height: 400px;
}

.tool__content {
    padding-top: 96px;
}

.heading-little {
    font-size: 44px;
    line-height: 53px;
}

.heading__tool {
    max-width: 600px;
    margin-left: 318px;
    text-align: center;
}

.section__tool-list {
    margin-top: 40px;
    padding: 10px 0px 10px 23px;
    display: flex;
}

.section__tool-item {
    margin-left: 88px;
}

.section__tool-item1 {
    width: 123px;
    height: 66px;
    background: center center / 100% no-repeat url('../img/logo1.svg');
}

.section__tool-item2 {
    width: 69px;
    height: 66px;
    background: center center / 100% no-repeat url('../img/logo2.svg');
}

.section__tool-item3 {
    width: 133px;
    height: 59px;
    background: center center / 100% no-repeat url('../img/logo3.svg');
}

.section__tool-item4 {
    width: 99px;
    height: 63px;
    background: center center / 100% no-repeat url('../img/logo4.svg');
}

.section__tool-item5 {
    width: 98px;
    height: 64px;
    background: center center / 100% no-repeat url('../img/logo5.svg');
}

.section__tool-item6 {
    width: 132px;
    height: 60px;
    background: center center / 100% no-repeat url(../img/logo6.svg);
    margin-left: 88px;
}

/* SQUARES */

.section__squares {
    margin-top: 80px;
}

.section__squares-blocks {
    display: flex;
    margin-bottom: 144px;
}

.section__squares-block-text {
    border: black solid 1px;
    padding-top: 132px;
    max-height: 560px;
}

.squares__heading1 {
    max-width: 505px;
}

.section__squares-p {
    margin-top: 24px;
    font-size: 17.6px;
    line-height: 27px;
    max-width: 423px;
}

.section__squares-link {
    display: inline-block;
    margin-top: 32px;
    font-size: 18px;
    font-weight: 600;
}

.section__squares-block-img1 {
    width: 632px;
    height: 632px;
    background: 100% 1% / 88% no-repeat url('../img/square1.png');
}

.section__squares-block-img2 {
    width: 632px;
    height: 632px;
    background: 1% 1% / 88% no-repeat url('../img/square2.png');
}

.squares__heading2 {
    max-width: 335px;
}

.section__squares-block-text2 {
    padding-left: 46px;
}

.section__squares-block-text3 {
    padding-top: 142px;
}

.section__squares-p3 {
    max-width: 469px;
}

.section__squares-block-img3 {
    width: 695px;
    height: 632px;
    background: 101% 1% / 81% no-repeat url('../img/square3.png');
}

.section__squares-block-img4 {
    width: 695px;
    height: 632px;
    background: 0% 1% / 94% no-repeat url('../img/square4.png');
}

.section__squares-block-text4 {
        padding-left: 88px;
        padding-top: 109px;
}

.section__squares-p4 {
    max-width: 469px;
}