@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Monster';
    font-display: swap;
    src: url('../fonts/Montserrat-Light.woff2');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Monster';
    font-display: swap;
    src: url('../fonts/Montserrat-Regular.woff2');
}

@font-face { 
    font-weight: 600;
    font-style: normal;
    font-family: 'Monster';
    font-display: swap;
    src: url('../fonts/Montserrat-SemiBold.woff2');
}

@font-face { 
    font-weight: 500;
    font-style: normal;
    font-family: 'Monster';
    font-display: swap;
    src: url('../fonts/Montserrat-Medium.woff2');
}

@font-face { 
    font-weight: 800;
    font-style: normal;
    font-family: 'Monster';
    font-display: swap;
    src: url('../fonts/Montserrat-ExtraBold.woff2');
}

.container {
    max-width: 1770px;
    padding: 0 50px;
}

.heading {
    max-width: 600px;
    font-weight: 400;
    font-size: 35px;
    color: #333333;
}


/* Header */

.header__container {
    display: flex;
    padding: 0 50px;
    margin-bottom: 8px;
}

.header__burger {
    display: none;
}

.header__logo {
    width: 150px;
    padding-top: 10px;
}

.header__logo-link {
    margin-right: auto;
}

.header__list {
    display: flex;
    padding-top: 30px;
}

.header__item {
    font-weight: 600;
    font-size: 13px;
}

.header__item-link {
    color: #333333;
    padding-bottom: 3px;
    transition: all 0.1s ease;
}

.header__item-link:hover {
    border-bottom: 2px solid #FF9900;
}

.header__item-link:focus {
    border-bottom: 2px solid #E1670E;
    color: #E1670E;
}


.header__item:not(:last-child){
    margin-right: 56px;
}

.header__block-btn {
    padding-top: 26px;
    margin-left: 37px
}

.header__btn {
    width: 18px; 
    height: 18px;
    border: unset;
    background: center / cover no-repeat url('../img/Search.svg');
    transition: all 0.1s ease;
}

.header__btn:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='19.5138' y='18.5495' width='8' height='2' transform='rotate(45 19.5138 18.5495)' fill='%23FF9900'/%3E%3Ccircle cx='11.5' cy='11.5' r='10.5' stroke='%23FF9900' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.header__btn:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='19.5138' y='18.5495' width='8' height='2' transform='rotate(45 19.5138 18.5495)' fill='%23E1670E%0A'/%3E%3Ccircle cx='11.5' cy='11.5' r='10.5' stroke='%23E1670E%0A' stroke-width='2'/%3E%3C/svg%3E%0A");
}

/* Section__project */

.section__project {
    background: center / cover no-repeat url('../img/low-angle-photo-of-balconies-2462015\ 1.jpg');
    width: 1179px;
    height: 412px;
}

.section__project-container {
    padding-left: 52px;
    padding-top: 68px;
}

.section__project-heading {
    max-width: 600px;
    font-weight: 800;
    font-size: 47px;
    line-height: 55px;
    color: white;
}

.section__project-p {
    max-width: 600px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: white;
    margin-top: 17px;
}

.section__project-link-block {
    margin-top: 81px;
}

.section__project-link {
    max-width: 600px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    padding: 16px 25px;
    border: 1px solid #FF9900;
    background-color: #FF9900;
    transition: all 0.1s ease;
}

.section__project-link:hover {
    background: rgba(255, 153, 0, 0.6);
}

.section__project-link:focus {
    background: #E1670E;
}

/* Section__aboutus */

.section__aboutus {
    margin-top: 70px;
}

.section__aboutus-p {
    max-width: 830px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #333333;
    margin-top: 18px;
}

.section__aboutus-blocks {
    display: flex;
    margin-top: 30px;
}

.section__aboutus-block1 {
    max-width: 580px;
    min-height: 415px;
    margin-right: 21px;
    background: center / cover no-repeat url('../img/Rectangle\ 2.jpg');
}

.section__aboutus-block1-in {
    display: flex;
    margin-top: 300px;
    padding: 2px 44px 10px 20px;
    background: rgba(0, 0, 0, 0.5);
}

.section__aboutus-block1-p {
    margin-left: 16px;
    margin-top: 22px;
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    color: white;
}

.section__aboutus-block1-link {
    display: block;
    font-weight: 700;
    font-size: 12px;
    color: white;
    padding: 12px 23px;
    border: 3px solid #FF9900;
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: 45px;
    transition: all 0.1s ease;
}

.section__aboutus-block1-link:hover {
    background: #FF9900;
}

.section__aboutus-block1-link:focus {
    background: #E1670E;
    border: 3px solid #E1670E;
}

.section__aboutus-block2 {
    border: 1px solid #CACACA;
    width: 560px;
    min-height: 200px;
    margin-bottom: 15px;
    padding: 47px 0px 0px 198px;
    background: 9% 45% / 21% no-repeat url('../img/Group\ 25.svg');
}

.section__aboutus-block3 {
    border: 1px solid #CACACA;
    width: 560px;
    min-height: 200px;
    padding: 47px 0px 0px 198px;
    background: 9% 42% / 21% no-repeat url('../img/Group\ 24.svg');
}

.section__aboutus-block-p1 {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
}

.section__aboutus-block-p2 {
    max-width: 290px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #333333;
}

/* Section__work */

.section__work {
    margin-top: 70px;
}

.section__work-list {
    display: flex;
    margin-top: 32px;
}

.section__work-item {
    margin-right: 56px;
}

.section__work-item-link {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    transition: all 0.1s ease;
}

.section__work-item-link:hover {
    color: #FF9900;
}

.section__work-item-link:focus {
    color: #E1670E;
}

.section__work-block1 {
    margin-top: 30px;
}

.section__work-p1 {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
}

.section__work-p2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 21.5px;
    max-width: 510px;
    margin-top: 5px;
    color: #333333;
}

.section__work-links-block {
    display: flex;
}

.section__work-link1 {
    display: block;
    max-width: 118px;
    font-weight: 700;
    font-size: 12px;
    color: white;
    margin-top: 40px;
    padding: 12px 25px;
    border: 1px solid #FF9900;
    background-color: #FF9900;
    transition: all 0.1s ease;
}

.section__work-link1:hover {
    background: rgba(255, 153, 0, 0.6);
}

.section__work-link1:focus {
    background: #E1670E;
}

.section__work-link2 {
    display: block;
    max-width: 118px;
    font-weight: 700;
    font-size: 12px;
    color: rgb(46, 35, 35);
    margin-top: 40px;
    margin-left: 20px;
    padding: 12px 23px;
    border: 1px solid #333333;
    transition: all 0.1s ease;
}

.section__work-link2:hover {
    background: #666666;
    color: #FFFFFF;
}

.section__work-link2:focus {
    background: #000;
    color: #ffffff;
}

.section__work-blocks {
    display: flex;
}

.section__work-block2 {
    background: center / cover no-repeat url('../img/Rectangle\ 18.jpg');
    margin-left: 100px;
    margin-top: 37px;
    width: 570px;
    min-height: 150px;
    max-height: 400px;
}

/* Section__qstns */

.section__qstns {
    margin-top: 72px;
    margin-bottom: 64px;
}

.section__qstns-list {
    margin-top: 30px;
}

.section__qstns-item {
    display: flex;
    padding: 20px 0px;
    align-items: center;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #CACACA;
    transition: all 0.1s ease;
    color: rgb(46, 35, 35);
}

.section__qstns-item:hover {
    border-bottom: 1px solid #FF9900;
    border-top: 1px solid #FF9900;
    color:#FF9900;
}

.section__qstns-p {
    font-weight: 700;
    font-size: 17.6px;
}

.section__qstns-link {
    display: block;
    width: 33px; 
    height: 33px;
    margin-left: auto;
    background: center / cover no-repeat url('../img/+х.svg'); 
}

/* Footer */

.footer {
    display: flex;
    background-color: #222222;
    padding: 30px 50px;
}

.footer__block1 {
    width: 800px;

}

.footer__logo {
    width: 150px;
}

.footer__block1-list { 
    margin-top: 10px;
    min-width: 200px;
}

.footer__block1-item {
    margin-bottom: 8px;
}

.footer__block1-link {
    font-weight: 600;
    font-size: 12px;
    color: #cacaca;
    transition: all 0.1s ease;
}

.footer__block1-link:hover {
    border-bottom: 2px solid #FF9900;
}

.footer__block1-link:focus {
    border-bottom: 2px solid #E1670E;
    color: #E1670E;
}

.footer__block1-social {
    display: flex;
    margin-top: 75px;
}

.footer__block1-social-link1 {
    display: block;
    width: 40px; 
    height: 40px;
    background: center / cover no-repeat url('../img/fb.svg');
    margin-right: 16px;
}

.footer__block1-social-link2 {
    display: block;
    width: 40px; 
    height: 40px;
    background: center / cover no-repeat url('../img/vk.svg');
    margin-right: 16px;
}

.footer__block1-social-link3 {
    display: block;
    width: 40px; 
    height: 40px;
    background: center / cover no-repeat url('../img/instagram.svg'); 
} 

.footer__block2 {
    margin-top: 10px;
    margin-left: 200px;
}

.footer__heading {
    color: #e7e7e7;
    width: 300px;
}

.footer__form {
    margin-top: 20px;
}

.footer__form-input {
    font-weight: 400;
    font-size: 12px;
    color: #CACACA;
    width: 380px;
    margin-bottom: 15px;
    padding: 12px 14px;
    background-color: #414141;
    border: unset;
}

.footer__form-textarea {
    font-weight: 400;
    font-size: 12px;
    color: #CACACA;
    width: 380px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 12px 14px;
    background-color: #414141;
    border: unset;
    resize: none;
}

.footer__form-block {
    display: flex;
    align-items: center;
}

.footer__form-button {
    display: block;
    font-weight: 700;
    font-size: 12px;
    color: white;
    margin-top: 6px;
    margin-right: 10px;
    padding: 13px 32px;
    border: 1px solid #FF9900;
    background-color: #FF9900;
}

.footer__form-button:hover {
    background: rgba(255, 153, 0, 0.6);
}

.footer__form-button:focus {
    background: #E1670E;
}

.footer__form-label {
    font-weight: 400;
    font-size: 11px;
    color: white;
}

input[type=checkbox] {
    display: none;
}

label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #222;
    vertical-align: -2px;
    border: 1px solid #cacaca;
    margin-right: 4px;
}

input[type=checkbox]:checked + label::before {
    background: #222 url('../img/Rectangle\ 44.svg') no-repeat center center;
    background-size: 100%;
}

.footer__block3 {
    margin-left: 149px;
    margin-top: 55px;
}

.footer__block-p {
    font-weight: 400;
    font-size: 12px;
    line-height: 21.5px;
    color: #CACACA;
}

@media (max-width:1024px) {
    

    .header__logo-link {
        margin-left: auto;
    }

    .header__container {
        align-items: center;
        min-height: 90px;
    }

    .header__burger {
        display: block;
        background: center / cover no-repeat url('../img/Burger.svg');
        width: 30px;
        height: 30px;
    }

    .header__burger:hover {
        background-image: url("../img/Burger-active.svg");
    }

    .header__burger:active {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='23' viewBox='0 0 30 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='3' fill='%23E1670E'/%3E%3Crect x='5' y='10' width='25' height='3' fill='%23E1670E'/%3E%3Crect x='12' y='20' width='18' height='3' fill='%23E1670E'/%3E%3C/svg%3E%0A");;
    }


    .header__list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 50px;
        background: rgba(238, 238, 238, 0.9);
    }

    .header__item {
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .show {
        display: flex;
    }


    .header__btn {
        width: 25px;
        height: 25px; 
    }


    .header__block-btn  {
        margin-left: 7px;
    }

    .section__project {
        width: 925px;  
        height: 670px;
    }

    .section__project-container {
        padding-left: 47px;
        padding-top: 164px;
    }

    .section__project-heading {
        max-width: none;
        font-size: 60px;
        line-height: 69px;
    }

    .section__project-p {
        max-width: 660px;
        font-size: 22px;
        line-height: 23px;
    }

    .section__project-link-block {
        margin-top: 140px;
    }

    .section__project-link {
        max-width: none;
        font-weight: 700;
        font-size: 25px;
        padding: 25px 43px;
        border: 1px solid #FF9900;
        background-color: #FF9900;
    }

    .section__aboutus {
        margin-top: 64px;
    }

    .heading {
        font-size: 52px;
        max-width: 675px;
    }

    .section__aboutus-p {
        max-width: 914px;
        font-size: 18px;
        line-height: 32px;
        margin-top: 28px;
    }

    .section__aboutus-blocks {
        margin-top: 58px;
    }

    .section__aboutus-blocks {
    flex-direction: column;
    }

    .section__aboutus-block1 {
        max-width: 100%;
        margin-right: 0;        
        margin-bottom: 51px;
    }

    .section__aboutus-block1-in {
        margin-top: 466px;
    }

    .section__aboutus-block1-p {
        margin-left: 26px;
        margin-top: 36px;

        font-size: 18px;
        line-height: 33px;
    }

    .section__aboutus-block1-link {
        font-size: 17px;
        padding: 19px 40px;
        margin-top: 56px;
        margin-bottom: 45px;
        margin-left: 142px;
    }

    .section__aboutus-block2 {
        width: 100%;
        min-height: 294px;
        margin-bottom: 41px;
        padding: 68px 0px 0px 349px;
        background: 15% 47% / 20% no-repeat url(../img/Group\ 25.svg);
    }

    .section__aboutus-block-p1 {
        font-size: 27px;
        margin-bottom: 5px;
    }

    .section__aboutus-block-p2 {
        max-width: 425px;
        font-size: 18px;
        line-height: 32px;
    }

    .section__aboutus-block3 {
        width: 100%;
        min-height: 294px;
        padding: 68px 0px 0px 349px;
        background: 15% 42% / 20% no-repeat url(../img/Group\ 24.svg);
    }


    .section__work {
        margin-top: 64px;
    }

    .section__work-list {
        margin-top: 53px;
    }

    .section__work-item {
        margin-right: 94px;
    }

    .section__work-item-link {
        font-size: 18px;
    }

    .section__work-block1 {
        margin-top: 50px;
    }

    .section__work-p1 {
        font-size: 27px;
    }

    .section__work-p2 {
        font-size: 18.5px;
        line-height: 32.5px;
        max-width: 654px;
    }

    .section__work-block2 {
        margin-top: 57px;
        margin-left: 42px;
        min-width: 435px;
        min-height: 689px;
    }

    .section__work-link1 {
        max-width: 179px;
        font-size: 17px;
        margin-top: 29px;
        padding: 20px 41px;
    }

    .section__work-link2 {
        max-width: 146px;
        font-size: 17px;
        margin-top: 28px;
        margin-left: 30px;
        padding: 21px 38px;
    }

    .section__qstns {
        margin-top: 57px;
    }

    .section__qstns-list {
        margin-top: 41px;
    }

    .section__qstns-item {
        padding: 31.5px 0px;
    }

    .section__qstns-p {
        font-size: 22px;
        line-height: 31px;
        max-width: 746px;
    }

    .section__qstns-link {
        width: 48px;
        height: 48px;
    }

    .footer__logo {
        min-width: 223px;
    }

    .footer__block1-list {
        margin-top: 20px;
        min-width: 242px;
    }

    .footer__block1-item {
        margin-bottom: 17px;
    }

    .footer__block1-link {
        font-size: 19px;
    }

    .footer__block1-social {
        margin-top: 118px;
    }

    .footer__block1-social-link1 {
        width: 59px;
        height: 59px;
        margin-right: 26px;
    }

    .footer__block1-social-link2 {
        width: 59px;
        height: 59px;
        margin-right: 26px;
    }

    .footer__block1-social-link3 {
        width: 59px;
        height: 59px;
    }

    .footer__block2 {
        margin-top: 16px;
        margin-left: 122px;
    }

    .footer__heading {
        width: 399px;
    }

    .footer__form {
        margin-top: 26px;
    }

    .footer__form-input {
        font-size: 19px;
        width: 535px;
        margin-bottom: 24px;
        padding: 19px 22px;
    }

    .footer__form-textarea {
        font-size: 20px;
        width: 536px;
        margin-bottom: 15px;
        margin-top: 2px;
        padding: 15px 24px;
    }
    
    .footer__form-button {
        font-size: 18px;
        margin-top: 13px;
        padding: 20px 35px;
    }

    .footer__form-label {
        font-size: 18px;
        margin-top: 9px;
    }

    label::before {
        width: 16px;
        height: 16px;
        vertical-align: -1px;
        margin-right: 6px;
    }

    .footer__block3 {
        display: none;
    }

}

@media (max-width:768px) {

    .container {
        max-width: none;
        padding: 0px;
    }

    .header__logo-link {
        margin-left: auto;
    }

    .header__container {
        min-height: 60px;
    }

    .header__burger {
        display: block;
        width: 27px;
        height: 23px;
    }    

    .header__block-btn {
        padding-top: 11px;
        margin-left: -2px;
    }

    .header__btn {
        width: 25px;
        height: 25px; 
    }

    .section__project {
        width: 925px;
        height: 699px;
    }

    .section__project-container {
        padding-left: 50px;
        padding-top: 190px;
    }

    .section__aboutus {
        margin-top: 64px;
        max-width: 711px;
        padding-left: 50px;
    }

    .heading {
        font-size: 52px;
        max-width: 675px;
    }

    .section__aboutus-p {
        max-width: 914px;
        font-size: 18px;
        line-height: 32px;
        margin-top: 28px;
    }

    .section__aboutus-blocks {
        margin-top: 58px;
    }

    .section__aboutus-blocks {
    flex-direction: column;
    }

    .section__aboutus-block1 {
        max-height: 651px;
        margin-bottom: 41px;
    }

    .section__aboutus-block1-in {
        margin-top: 477px;
    }

    .section__aboutus-block1-p {
        margin-left: 10px;
        margin-top: 18px;
        min-width: 389px;
    }

    .section__aboutus-block1-link {
        margin-left: 41px;
    }

    .section__aboutus-block2 {
        min-height: 233px;
        padding: 36px 0px 0px 174px;
        background: 5% 50% / 18% no-repeat url(../img/Group\ 25.svg);
    }

    .section__aboutus-block-p1 {
        font-size: 27px;
        margin-bottom: 5px;
    }

    .section__aboutus-block-p2 {
        max-width: 425px;
        font-size: 18px;
        line-height: 32px;
    }

    .section__aboutus-block3 {
        min-height: 234px;
        padding: 38px 0px 0px 178px;
        background: 6% 50% / 17% no-repeat url(../img/Group\ 24.svg);
    }


    .section__work {
        padding-left: 50px;
    }

    .section__work-list {
        margin-top: 53px;
    }

    .section__work-item:not(:last-child) {
        margin-right: 160px;
    }

    .section__work-item:nth-child(4) {
        margin-right: 0px;
    }

    .section__work-item-link {
        font-size: 18px;
    }

    .section__work-blocks {
        display: flex;
        flex-direction: column-reverse;
    }

    .section__work-block1 {
        margin-top: 40px;
    }

    .section__work-p2 {
        font-size: 18.5px;
        line-height: 32.5px;
        max-width: 669px;
    }

    .section__work-block2 {
        margin-top: 47px;
        margin-left: 0px;
        width: 668px;
        min-height: 284px;
    }

    .section__qstns {
        margin-left: 48px;
        margin-top: 63px;
        margin-bottom: 57px;
    }

    .section__qstns-p {
        font-size: 22px;
        line-height: 31px;
        max-width: 568px;
    }

    .section__qstns-p1 {
        max-width: 569px;
    }

    .section__qstns-p3 {
        max-width: 476px;
    }

    .section__qstns-p4 {
        max-width: 561px;
    }

    .section__qstns-p5 {
        max-width: 557px;
    }

    .section__qstns-link {
        margin-right: 50px;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer__logo {
        min-width: 223px;
        margin-top: 56px;
    }

    .footer__block1-list {
        display: none;
    }

    .footer__block1-social {
        margin-top: 16px;
    }

    .footer__block2 {
        margin-top: 33px;
        margin-left: 0px;
    }

    .footer__heading {
        width: 399px;
    }
}

@media (max-width:320px) {

    .main {
        padding: 0px 15px;
    }

    .heading {
        font-size: 26px;
    }

    .header__burger {
        width: 25px;
        height: 20px;
    }

    .header__container {
       flex-direction: row-reverse;
       min-height: 43px;
       padding: 0px 15px;
       margin-bottom: 0;
    }

    .header__block-btn {
        display: none;
    }

    .header__logo {
        width: 97px;
        padding-top: 5px;
    }

    .header__logo-link {
        margin-left: 0;
    }

    .header__burger {
        width: 25px;
        height: 20px;
    }

    .section__project {
        width: 290px;
        height: 264px;
    }

    .section__project-heading {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }

    .section__project-container {
        padding-left: 0px;
        padding-top: 35px;
    }

    .section__project-p {
        max-width: 218.5px;
        font-size: 11.5px;
        line-height: 15px;
        text-align: center;
        margin-top: 10px;
        margin-left: 35px;
    }

    .section__project-link-block {
        margin-top: 47px;
        margin-left: 64px;
    }

    .section__project-link {
        font-size: 13px;
        padding: 11px 28px;
    }

    .section__aboutus {
        margin-top: 40px;
        padding-left: 0px;
    }

    .section__aboutus-p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 2px;
    }

    .section__aboutus-blocks {
        margin-top: 13px;
    }

    .section__aboutus-block1 {
        height: 200px;
        min-height: 0;
        margin-bottom: 218px;
    }

    .section__aboutus-block1-in {
        margin-top: 216px;
        padding: 0;
        background: none;
        flex-direction: column;
    }

    .section__aboutus-block1-p {
        margin: 0;
        min-width: 300px;
        font-size: 15px;
        line-height: 28px;
        color: #333333;
        margin-top: -6px;
    }

    .section__aboutus-block1-link {
        font-size: 14px;
        padding: 10px 38px;
        margin-top: 8px;
        margin-left: 0px;
        max-width: 162px;
    }

    .section__aboutus-block2 {
        padding-top: 81px;
        padding-left: 0;
        background: 0% 9% / 22% no-repeat url(../img/Group\ 25.svg);
        border: none; 
        margin-bottom: 0px;
    }

    .section__aboutus-block-p1 {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 0px;
    }

    .section__aboutus-block-p2 {
        font-size: 16px;
        line-height: 29px;
    }

    .section__aboutus-block3 {
        padding-left: 0;
        padding-top: 83px;
        background: 0% 7% / 22% no-repeat url(../img/Group\ 24.svg);
        border: none; 
        margin-bottom: 0px;
    }

    .section__work {
        margin-top: 46px;
        padding-left: 0;
    }

    .section__work-list {
        margin-top: 37px;
    }

    .section__work-item:not(:last-child) {
        margin-right: 42px;
    }

    .section__work-item-link {
        font-size: 16px;
    }

    .section__work-block1 {
        margin-top: 14px;
    }

    .section__work-block2 {
        margin-top: 17px;
        max-width: 289px;
        min-height: 159px;
        min-width: 0;
    }

    .section__work-p1 {
        font-size: 19px;
    }

    .section__work-p2 {
        font-size: 16px;
        line-height: 28.5px;
    }

    .section__work-link1 {
        max-width: 161px;
        font-size: 14px;
        margin-top: 22px;
        padding: 11px 42px;
        max-height: 39px;
    }

    .section__work-link2 {
        font-size: 14px;
        margin-top: 22px;
        margin-left: 11px;
        padding: 12px 29px;
    }

    .section__qstns {
        margin-left: 0;
        margin-top: 43px;
        margin-bottom: 36px;
    }

    .section__qstns-item {
        padding: 28.5px 0px;
    }

    .section__qstns-list {
        margin-top: 16px;
    }

    .section__qstns-p {
        font-size: 15px;
        line-height: 25.9px;
    }

    .section__qstns-p1 {
        max-width: 224px;
    }

    .section__qstns-p2 {
        max-width: 206px;
    }

    .section__qstns-p3 {
        max-width: 257px;
    }

    .section__qstns-p4 {
        max-width: 226px;
    }

    .section__qstns-p5 {
        max-width: 221px;
    }

    .section__qstns-link {
        margin-right: 0px;
        width: 31px;
        height: 31px;
    }

    .footer {
        padding: 42px 15px 16px 15px;
    }

    .footer__block1 {
        width: 320px;
        text-align: center;
    }

    .footer__logo {
        min-width: 136px;
        width: 134px;
        margin-top: 55px;
    }

    .footer__block1-social {
        margin-left: 78px;
        margin-top: 12px;
    }

    .footer__block1-social-link1 {
        width: 35px;
        height: 35px;
        margin-right: 14px;
    }

    .footer__block1-social-link2 {
        width: 35px;
        height: 35px;
        margin-right: 14px;
    }

    .footer__block1-social-link3 {
        width: 35px;
        height: 35px;
    }
    
    .footer__block2 {
        margin-top: 0px;
    }

    .footer__form {
        margin-top: 22px;
    }

    .footer__form-input {
        font-size: 16px;
        width: 290px;
        margin-bottom: 24px;
        padding: 21px 19px;
    }

    .footer__form-textarea {
        font-size: 17px;
        width: 290px;
        margin-top: 0px;
        padding: 20px 20px 33px 20px;
    }

    .footer__form-block {
        flex-direction: column;
    }

    .footer__form-button {
        font-size: 13px;
        margin-top: 7px;
        padding: 13px 28px;
        margin-right: 0px;
    }

    .footer__form-label {
        font-size: 17px;
        margin-top: 19px;
    }

}