@font-face {
    font-family: 'muller';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
         url('../fonts/MullerBold.woff2') format('woff'); /* Modern Browsers */
  }

  @font-face {
    font-family: 'muller';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
         url('../fonts/MullerLight.woff2') format('woff'); /* Modern Browsers */
  }

  @font-face {
    font-family: 'muller';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
         url('../fonts/MullerMedium.woff2') format('woff'); /* Modern Browsers */
  }

  @font-face {
    font-family: 'muller';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/MullerRegular.woff2') format('woff'); /* Modern Browsers */
  }

.body {
    background-color: #f1f1f1;
}

.heading-section {
    font-family: 'muller';
    font-weight: 400;
    font-size: 40px;
    margin-left: 44px;
    margin-bottom: 23px;
    margin-top: 70px;
}

/* Header */

.header {
    height: 115px;
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    width: 219px;
    height: 51px;
    margin-right: 27px;
    background: url('../img/Logo.png') center center / 100% no-repeat ;
}

.header-contact-link {
    font-family: 'muller';
    font-weight: 600;
    font-size: 22px;
    color: #666666;
}

.header-contact-link:hover {
    color: #cc9933;
    transition: ease 0.3s;
}

.header-contact-link:focus {
    color: black;
    transition: ease 0.3s;
}

.cabinet-link {
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    margin-left: 513px;
    color: #cc9933;
    background: url('../img/keyboard_tab.svg');
    background-repeat: no-repeat;
    padding-left: 27px;
    background-position-y: center;
    padding-top: 2px;
}

.cabinet-link:hover {
    color: #555555;
    transition: ease 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}

.cabinet-link:focus {
    color:black;
    transition: ease 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='%23000000'/%3E%3C/svg%3E%0A");
}

.nav {
    display: flex;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    padding-right: 6px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-family: 'muller';
    font-weight: 400;
    font-size: 16px;
}
.nav-item:not(:last-child) {
    margin-right: 48px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #cc9933;
    transition: ease 0.3s;
}

.nav-link:focus {
    color: #555555;
    transition: ease 0.3s;
}

.header-input {
    width: 340px;
    height: 47px;
    background-color: #f1f1f1;
    font-size: 14px;
    color: #c5c5c5;
    border: unset;
    border-radius: 10px;
    padding-left: 19px;
}

.header-form {
    width: 346px;
    position: relative;
    margin-left: auto;
    }

.header-button {
    width: 40px;
    height: 40px;
    border: 0;
    background: url('../img/search.svg') no-repeat 50% 50%;
    background-size: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

/* QB-section */

.QB-SO {
    display: flex;
}

.QB-container {
    margin-top: 70px;
    width: 540px;
}

.QB-form {

}

.QB-input {
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    border: unset;
    border-radius: 10px;
    width: 518px;
    margin-bottom: 25px;
    padding: 27px 20px;
}

.QB-block {
    display: flex;
    align-items: center;
}

.QB-btn {
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #cc9933;
    padding: 28px 30px;
    border: 1px solid #cc9933;
    border-radius: 10px;
}

.QB-btn:hover {
    color: #cc9933;
    background-color: white;
    transition: ease 0.3s;
}

.QB-btn:focus {
    color: white;
    background-color:#5c3d00 ;
    transition: ease 0.3s;
}


.QB-p {
    margin-left: 30px;
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    color: #999999;
}

.QB-span {
    color: #cc9933;
}

/* SO-section */

.SO-container {
    width: 596px;
}

.SO-block {
    background-image: url('../img/img-1.jpg');
    background-repeat: no-repeat;
}

.SO-div {
    padding-top: 260px;
    padding-left: 42px;
    margin-bottom: 17px;
    font-family: 'muller';
    font-weight: 600;
    font-size: 66px;
    color: white;
    width: 150px;
}

.SO-price {
    padding-left: 42px;
    padding-bottom: 42px;
    font-size: 35px;
    font-family: "muller";
    font-weight: 400;
    color: rgba(255, 255, 255, 0.49);
}

.SO-raw {
    display: flex;
    align-items: center;
}

.SO-link {
    margin-left: 44px;
    padding-bottom: 40px;
    font-size: 16px;
    font-family: "muller";
    font-weight: 500;
    color:#ffcc66;
    background-image: url('../img/arrow-orange.svg');
    background-repeat: no-repeat;
    padding-right: 15px;
    background-position-x: right;
}

.SO-link:hover {
    color: white;
    transition: ease 0.3s;
    background-image: url(../img/arrow.svg);
}

.SO-link:focus {
    color:white;
    transition: ease 0.3s;
    background-image: url(../img/arrow.svg);
}

/* about-us */

.about-us-p {
    width: 970px;
    margin-left: 44px;
    font-size: 16px;
    font-family: "muller";
    font-weight: 400;
    line-height: 32px;
    color: #666666;
}

/* service */

.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    width: 572px;
    background-repeat: no-repeat;
    background-color: white;
    border: unset;
    border-radius: 10px;
}

.service-item-1 {
    background-image: url('../img/img-2.jpg');
    margin-bottom: 24px;
}

.service-item-2 {
    background-image: url('../img/img-3.jpg');
    margin-bottom: 24px;
}

.service-item-3 {
    background-image: url('../img/img-4.jpg');
}

.service-item-4 {
    background-image: url('../img/img-5.jpg');
}

.service-content {
    padding-top: 200px;
    margin-left: 45px;
    margin-bottom: 40px;
}

.service-link {
    margin-top: 200px;
    font-size: 22px;
    font-family: "muller";
    font-weight: 500;
    color: rgb(204, 153, 51);
    background-image: url('../img/arrow-orange.svg');
    background-repeat: no-repeat;
    padding-right: 18px;
    background-position-x: right;
    background-position-y: center;
}

.service-link:hover {
    color: #555555;
    transition: ease 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}

.service-link:focus {
    color:black;
    transition: ease 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='%23000000'/%3E%3C/svg%3E%0A");
}

.service-p {
    width: 400px;
    margin-top: 15px;
    font-size: 16px;
    font-family: "muller";
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 2;

}

/* benefits-section */

.bnfts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1170px;
}

.bnfts-item {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    margin-right: 21px;
    background-color: #fff;
    background-size: 59px;
    background-repeat: no-repeat;
    background-position: 43px 40px; 
}

.bnfts-p {
    height: 112px;
    width: 240px;
    padding-left: 41px;
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    padding-top: 120px;
    padding-bottom: 50px;
}

.item-benefits-1 {
    background-image: url("../img/bathtub.svg");
    margin-bottom: 24px;
}
    
.item-benefits-2 {
    background-image: url("../img/hanger.svg");
    margin-bottom: 24px;
}
    
.item-benefits-3 {
    background-image: url("../img/heating.svg");
}
    
.item-benefits-4 {
    background-image: url("../img/hotel-key.svg");
}
    
.item-benefits-5 {
    background-image: url("../img/parking.svg");
}
    
.item-benefits-6 {
    background-image: url("../img/reception.svg");
}
    
.item-benefits-7 {
    background-image: url("../img/security-box.svg");
}
    
.item-benefits-8 {
    background-image: url("../img/swimming-pool.svg");
}
    
.item-benefits:nth-child (4, 8, 10){
    margin: 0;
}

/* accmdtn */

.accmdtn-list {
    display: flex;
    justify-content: space-between;s
    flex-wrap: wrap;
}

.accmdtn-item {
    width: 372px;
    height: 445px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 25px;
}

.accmdtn-item:nth-child (7, 8, 9) {
    margin-bottom: 0;
}

.accmdtn-img {
    max-width: 372px;
}

.accmdtn-p {
    display: block;
    margin-top: 36px;
    margin-left: 45px;
    font-size: 15px;
    font-family: "muller";
    font-weight: 500;
    color: #9d9d9d;
}

.accmdtn-strong {
    font-size: 20px;
    font-family: "muller";
    font-weight: 600;
    color: #333333;
}

.stars-span {
    margin-left: 36px;
}

.rating-stars {
    height: 13px;
}

.rating-stars-empty {
    height: 13px;   
}

.item_desk-name {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45px;
    font-size: 16px;
    font-family: "muller";
    font-weight: 500;
    color: #333333;
}

.accmdtn-link {
    border: 1px solid #cc9933;
    color:#cc9933;
    border-radius: 10px;
    margin-left: 45px;
    padding: 12px 20px;
    background-color: white;
}

.accmdtn-link:hover {
    color: white;
    background-color:#cc9933;
    transition: ease 0.3s;
}

.accmdtn-link:focus {
    color: white;
    background-color:#5c3d00 ;
    transition: ease 0.3s;
}

.item-desk-name {
    margin-bottom: 40px;
    margin-left: 45px;
    font-size: 16px;
    font-family: "muller";
    font-weight: 500;
    color: #9d9d9d;

}

.accmdtn-item-last {
    background-image: url('../img/img-19.jpg');
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 368px;
}

.accmdtn-last-link {
    font-size: 22px;
    font-family: "muller";
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    padding-right: 23px;
    background-position-x: right;
    background-position-y: center;
}

.accmdtn-last-link:hover {
    color: #dab977;
    transition: ease 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23dab977; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_16' data-name='Прямоугольник 2 копия 16' class='cls-1' d='M1496.5,4094.5l6.79,7-6.79,7' transform='translate(-1495.5 -4093.5)'/%3E%3C/svg%3E%0A");
}

.accmdtn-last-link:focus {
    color: #66a0b8;
    transition: ease 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %2366a0b8; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_16' data-name='Прямоугольник 2 копия 16' class='cls-1' d='M1496.5,4094.5l6.79,7-6.79,7' transform='translate(-1495.5 -4093.5)'/%3E%3C/svg%3E%0A");
}

/* CNTCTS-QSTNS */

.CNTCT-QSTNS {
    display: flex;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    padding: 45px;
}

.contact-block {    
    width: 384px;
    border-bottom: 1px solid #cccccc;
    padding-top: 30px;
    display: flex;
}

.contact-block1{
    padding-top: 0;
}



.contact-heading-mini {
    white-space: nowrap;
    font-size: 22px;
    font-weight: 600;
    font-family: "muller";
    color: rgb(102, 102, 102);
}


.contact-content{
    padding-bottom: 30px;
    font-size: 16px;
    font-family: "muller";
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 24px;

}

.contact-content1{
    margin-left: 80px;
}

.contact-content2{
    margin-left: 38px;
    display: flex;
    flex-direction: column;
}

.contact-content3{
    margin-left: 80px;
}

.contact-content4{
    margin-left: 70px;
}

.contact-link{
    color: #cc9933;
}

.contact-link:hover {
    color: #555555;
    transition: ease 0.3s;
}

.contact-link:focus {
    color:black;
    transition: ease 0.3s;
}

.contact-link-marshrut{
    border: 1px solid #cc9933;
    border-radius: 10px;
    padding: 25px 28px;
    font-size: 16px;
    font-family: "muller";
    font-weight: 600;
    color: rgb(204, 153, 51); 
}

.contact-link-marshrut:hover {
    color: white;
    background-color:#cc9933;
    transition: ease 0.3s;
}

.contact-link-marshrut:focus {
    color: white;
    background-color:#5c3d00 ;
    transition: ease 0.3s;
}

.contact-link-block {
    margin-top: 65px;
    margin-bottom: 20px;
}

.questions-sections {
    margin-left: 64px;
    margin-bottom: 10px;  
}

.heading-questions {
    font-family: 'muller';
    font-weight: 400;
    font-size: 40px;
}

.questions-input {
    width: 304px;
    padding: 25px 22px;
    border: unset;
    border-radius: 15px;
    background-color: #f1f1f1;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    color:rgb(51, 51, 51);
}

.questions-input1 {
    margin-right: 18px;
}

.questions-textarea {
    padding: 25px 22px;
    border: unset;
    border-radius: 15px;
    background-color: #f1f1f1;    
    width: 630px;
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    color: rgb(51, 51, 51); 
    resize: none;
}

.questions-p {
    margin-top: 45px;    
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    color: rgb(51, 51, 51); 
}

.questions-btn {
    margin-top: 46px;
    font-family: 'muller';
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #cc9933;
    padding: 25px 130px;
    border: 1px solid #cc9933;
    border-radius: 10px;
}

.questions-btn:hover {
    color: #cc9933;
    background-color: white;
    transition: ease 0.3s;
}

.questions-btn:focus {
    color: white;
    background-color:#5c3d00 ;
    transition: ease 0.3s;
}

/* Footer */

.footer-container {
    display: flex;
    margin-top: 22px;
    background-color: #333333;
    border: unset;
    border-radius: 10px;
    background-image: url('../img/logo-footer.svg.png');
    background-repeat: no-repeat;
    background-position: 730px bottom;
}

.footer-info {
    max-width: 300px;
    margin-right: 120px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.footer-p {
    margin-bottom: 50px;
    font-family: 'muller';
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 32px;
}

.footer-p-last {
    font-family: 'muller';
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 32px;
}

.footer-contacts {
    margin-top: 64px;
}

.footer-p-contacts {
    font-family: 'muller';
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 32px;
}

.footer-contact-link-1 {
    max-width: 154px;
    font-family: 'muller';
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 32px;
    margin-bottom: 25px;
    margin-top: 36px;
}

.footer-contact-link-2 {
    max-width: 125px;
    font-family: 'muller';
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 32px;
}

.footer-icon {
    margin-top: 47px;
    margin-left: 285px;
}

.footer-icon-list{
}

.footer-icon-link {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 22px;
}

.footer-icon-link1 {
    background-image: url('../img/tripadvisor.svg');
}

.footer-icon-link1:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%23696969' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 97.8' style='enable-background:new 0 0 97.8 97.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23cc9933;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M67.2,46.1c-3.3,0-6,2.6-6,5.9c0,3.3,2.7,6,5.9,6c3.3,0,5.9-2.7,5.9-5.9C73.1,48.7,70.5,46.1,67.2,46.1z M67.2,55c-1.7,0-3-1.3-3-3c0-1.7,1.3-3,3-3c1.7,0,3,1.4,3,3C70.2,53.7,68.8,55,67.2,55z'/%3E%3Cpath class='st0' d='M30.5,37.5c-7.9-0.1-14.8,6.5-14.6,14.9c0.1,7.8,6.6,14.5,14.8,14.4c8-0.1,14.5-6.6,14.5-14.6 C45.2,44.1,38.7,37.5,30.5,37.5z M30.7,61.1c-5.3,0.2-9.6-4-9.6-9.1c0-5.2,4.3-9.2,9.1-9.1c5,0,9.1,4,9.1,9.1 C39.4,57.1,35.4,60.9,30.7,61.1z'/%3E%3Cpath class='st0' d='M48.9,0C21.9,0,0,21.9,0,48.9s21.9,48.9,48.9,48.9s48.9-21.9,48.9-48.9S75.9,0,48.9,0z M77,67.9 c-3,1.9-6.3,2.8-9.8,2.8c-1.5,0-3-0.2-4.4-0.6c-3.5-0.9-6.5-2.7-9-5.3c-0.3-0.3-0.6-0.7-1-1.1c-1.3,2-2.6,3.9-3.9,5.9 c-1.3-2-2.6-3.9-3.9-5.8c-0.1,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c-3,3.6-6.8,5.7-11.4,6.5c-2.6,0.4-5.1,0.3-7.6-0.4 c-3.5-1-6.5-2.8-9-5.6c-2.4-2.7-3.8-5.8-4.4-9.4c-0.6-3.3,0.1-6.5,0.3-7.3c0.6-2.3,1.5-4.3,2.9-6.2c0.1-0.1,0.1-0.4,0.1-0.5 c-0.5-2-1.5-3.8-2.6-5.6c-0.3-0.4-0.6-0.8-0.9-1.3c0,0,0-0.1,0-0.1c0.1,0,0.1,0,0.2,0c3.7,0,7.4,0,11.1,0c0.2,0,0.3-0.1,0.5-0.2 c2.6-1.7,5.4-3,8.3-4c2.1-0.7,4.2-1.3,6.4-1.7c2.1-0.4,4.2-0.7,6.4-0.8c5.2-0.4,9.4,0.1,12.2,0.5c2.1,0.3,4.1,0.8,6.1,1.4 c3.5,1.1,6.7,2.6,9.8,4.5c0.2,0.1,0.5,0.2,0.8,0.2c3.6,0,7.2,0,10.8,0c0.3,0,0.6,0,0.9,0c0,0.1,0,0.1,0,0.1 c-0.2,0.3-0.3,0.5-0.5,0.8c-1.2,1.9-2.3,3.8-2.9,6c-0.1,0.2-0.1,0.4,0.1,0.7c3.2,4.6,4.2,9.7,2.9,15.2 C83.9,61.5,81.2,65.2,77,67.9z'/%3E%3Cpath class='st0' d='M30.2,46.1c-3.2,0-5.9,2.7-5.9,5.9c0,3.3,2.7,5.9,6,5.9c3.2,0,5.9-2.7,5.9-6C36.2,48.7,33.6,46.1,30.2,46.1z M30.3,55.1c-1.7,0-3.1-1.3-3.1-3.1c0-1.7,1.3-3,3-3c1.7,0,3,1.3,3.1,3C33.4,53.7,32,55,30.3,55.1z'/%3E%3Cpath class='st0' d='M66.9,37.6c-8,0.2-14.3,6.6-14.4,14.6c0,8.1,6.6,14.8,14.7,14.7c8.1,0,14.7-6.5,14.7-14.7 C81.9,43.8,75,37.4,66.9,37.6z M67.6,61.1c-5.3,0.2-9.5-4-9.5-9.1c0-5.2,4.3-9.2,9.1-9.1c5,0,9.1,4,9.1,9.1 C76.3,57,72.3,60.9,67.6,61.1z'/%3E%3Cpath class='st0' d='M54.7,38.6c3.2-3,7.1-4.5,11.5-4.9c-5.2-2.3-10.7-3.3-16.4-3.4c-6.4-0.1-12.7,0.8-18.6,3.3 c4.5,0.3,8.4,1.8,11.7,4.8c3.3,3,5.2,6.8,5.9,11.2C49.6,45.3,51.5,41.6,54.7,38.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    transition: ease 0.3s;
}

.footer-icon-link2 {
    background-image: url('../img/twitter.svg');
}

.footer-icon-link2:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%23cc9933' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 97.8' style='enable-background:new 0 0 97.8 97.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23cc9933;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M48.9,0C21.9,0,0,21.9,0,48.9s21.9,48.9,48.9,48.9s48.9-21.9,48.9-48.9S75.9,0,48.9,0z M78.4,35.8 c0,0.6,0,1.2,0,1.7c0,20.9-15.9,42.5-42.5,42.5c-8.1,0-16-2.3-22.9-6.7c-0.1-0.1-0.2-0.3-0.1-0.4c0.1-0.2,0.2-0.3,0.4-0.2 c1.1,0.1,2.3,0.2,3.5,0.2c6.3,0,12.3-2,17.4-5.7c-6.1-0.5-11.3-4.6-13.2-10.5c0-0.1,0-0.3,0.1-0.4c0.1-0.1,0.2-0.1,0.3-0.1 c1.7,0.3,3.4,0.3,5,0.1c-6.3-1.9-10.7-7.8-10.7-14.5l0-0.2c0-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.1,0.4,0c1.6,0.9,3.4,1.5,5.3,1.7 c-3.6-2.9-5.7-7.2-5.7-11.9c0-2.7,0.7-5.3,2.1-7.6c0.1-0.1,0.2-0.2,0.3-0.2c0.1,0,0.2,0,0.3,0.1c7.4,9,18.2,14.6,29.8,15.3 c-0.2-1-0.3-2-0.3-3c0-8.4,6.8-15.2,15.2-15.2c4.1,0,8.1,1.7,10.9,4.6c3.2-0.7,6.3-1.8,9.1-3.5c0.1-0.1,0.3-0.1,0.4,0 c0.1,0.1,0.2,0.3,0.1,0.4c-1,3-2.8,5.6-5.3,7.5c2.4-0.4,4.7-1.1,6.8-2.1c0.1-0.1,0.3,0,0.4,0.1c0.1,0.1,0.1,0.3,0,0.4 C83.8,31.2,81.3,33.7,78.4,35.8z'/%3E%3C/g%3E%3C/svg%3E%0A");
    transition: ease 0.3s;
}

.footer-icon-link3 {
    background-image: url('../img/facebook.svg');
}

.footer-icon-link3:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%23999999' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 97.8' style='enable-background:new 0 0 97.8 97.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23cc9933;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M48.9,0C21.9,0,0,21.9,0,48.9s21.9,48.9,48.9,48.9s48.9-21.9,48.9-48.9S75.9,0,48.9,0z M67.5,24.9l-6.8,0 c-5.3,0-6.3,2.5-6.3,6.2v8.1h12.6l0,12.8H54.4v32.8H41.3V52h-11V39.3h11v-9.4c0-10.9,6.7-16.9,16.4-16.9l9.9,0L67.5,24.9L67.5,24.9 z'/%3E%3C/g%3E%3C/svg%3E%0A");
    transition: ease 0.3s;
}

.footer-icon-link4 {
    background-image: url('../img/social.svg');
}

.footer-icon-link4:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%23999999' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 97.8' style='enable-background:new 0 0 97.8 97.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23cc9933;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M48.9,0C21.9,0,0,21.9,0,48.9s21.9,48.9,48.9,48.9s48.9-21.9,48.9-48.9S75.9,0,48.9,0z M73.7,54.2 c2.3,2.2,4.7,4.3,6.7,6.8c0.9,1.1,1.8,2.2,2.4,3.5c0.9,1.8,0.1,3.8-1.5,3.9l-10,0c-2.6,0.2-4.6-0.8-6.4-2.6c-1.4-1.4-2.7-2.9-4-4.4 c-0.5-0.6-1.1-1.2-1.8-1.6c-1.4-0.9-2.6-0.6-3.3,0.8c-0.8,1.5-1,3.1-1.1,4.7c-0.1,2.4-0.8,3-3.2,3.1c-5.1,0.2-9.9-0.5-14.3-3.1 c-3.9-2.3-7-5.4-9.6-9c-5.2-7-9.1-14.7-12.7-22.6c-0.8-1.8-0.2-2.7,1.8-2.8c3.3-0.1,6.5-0.1,9.8,0c1.3,0,2.2,0.8,2.7,2 c1.8,4.3,3.9,8.5,6.6,12.3c0.7,1,1.5,2,2.5,2.8c1.2,0.8,2,0.5,2.6-0.8c0.3-0.8,0.5-1.7,0.6-2.6c0.3-3,0.3-6-0.2-9 C41,33.6,40,32.4,38.1,32c-1-0.2-0.8-0.5-0.4-1.1c0.8-0.9,1.6-1.5,3.1-1.5l11.3,0c1.8,0.4,2.2,1.1,2.4,2.9l0,12.6 c0,0.7,0.3,2.8,1.6,3.2c1,0.3,1.7-0.5,2.3-1.1c2.7-2.9,4.6-6.3,6.4-9.8c0.8-1.6,1.4-3.2,2.1-4.8c0.5-1.2,1.2-1.8,2.6-1.8l10.9,0 c0.3,0,0.6,0,1,0.1c1.8,0.3,2.3,1.1,1.8,2.9c-0.9,2.8-2.6,5.2-4.3,7.5c-1.8,2.5-3.8,4.9-5.6,7.5C71.5,51,71.6,52.2,73.7,54.2z'/%3E%3C/g%3E%3C/svg%3E%0A");
    transition: ease 0.3s;
}

.footer-icon-link5 {
    background-image: url('../img/google-plus-social-logotype.svg');
}

.footer-icon-link5:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg fill='%23999999' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 97.8' style='enable-background:new 0 0 97.8 97.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23cc9933;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M50.7,33.7c0-6.8-4-17.3-11.8-17.3c-2.4,0-5.1,1.2-6.6,3.1c-1.6,2-2.1,4.5-2.1,7c0,6.3,3.7,16.7,11.7,16.7 c2.3,0,4.9-1.1,6.4-2.6C50.5,38.4,50.7,35.4,50.7,33.7z'/%3E%3Cpath class='st0' d='M45.7,58.4c-0.7-0.1-1.2-0.1-2.2-0.1c-0.8,0-5.9,0.2-9.9,1.5c-2.1,0.7-8.1,3-8.1,9.7C25.6,76.2,32,81,42.1,81 c9,0,13.8-4.3,13.8-10.2C55.9,66,52.8,63.5,45.7,58.4z'/%3E%3Cpath class='st0' d='M48.9,0C21.9,0,0,21.9,0,48.9s21.9,48.9,48.9,48.9s48.9-21.9,48.9-48.9S75.9,0,48.9,0z M37.5,84.9 c-13.6,0-20.2-6.5-20.2-13.5c0-3.4,1.7-8.2,7.2-11.5c5.8-3.6,13.7-4,17.9-4.3c-1.3-1.7-2.8-3.5-2.8-6.4c0-1.6,0.5-2.5,0.9-3.7 c-1,0.1-2.1,0.2-3,0.2C27.6,45.8,22,38.4,22,31c0-4.3,2-9.1,6-12.6c5.4-4.4,12.7-5.6,17.7-5.6h18.5l-6.1,3.8h-5.8 c2.2,1.8,6.7,5.5,6.7,12.7c0,7-3.9,10.3-7.9,13.4c-1.2,1.2-2.6,2.5-2.6,4.6c0,2.1,1.4,3.2,2.4,4l3.4,2.6c4.1,3.5,7.9,6.7,7.9,13.2 C62.2,76,53.6,84.9,37.5,84.9z M78,47.7v9.5h-4.6v-9.5H64V43h9.4v-9.4H78V43h9.4v4.7H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    transition: ease 0.3s;
}
