.jskmb-calculator {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(255, 214, 231);
    padding: 55px;
    border: 5px dotted black;
}

.jskmb-calculator .operations-block button {
    height: 40px;
    width: 40px;
    margin: 20px;
}

.jskmb-calculator .inputs-block .input-block {
    display: inline-block;
    padding: 10px;
}

.jskmb-calculator .inputs-block .input-block label{
    display: block;
}